html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.centrar-texto{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Header*/

.encabezado{
    width: 100%;
    height: 15%;
    background-color:#0B14A0 ;
}

/*2 Secciones*/

.contenedor-secciones{
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.seccion1{
    background-color: #3495D8;
    width: 100%;
}

.seccion2{
    background-color: #AFBDC6;
    width: 100%;

}

/*Main*/

.main{
    height: 65%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.main-texto{
    background-color: #2B3942;
}

.entrada1{
    background-color: #E18127;
    height: 50%;
}

.entrada2{
    background-color: #D63320;
    height: 50%;
}
