*{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:#6E09AD;
    padding: 10px;
    row-gap: 2rem;
}

.item{
    border: solid 1px #000;
    background-color: white;
    text-align: center;
}