html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

/*Globales*/
#contenedor{
    width: 1200px;
    height: 1000px;
    background-color: darkgray;
    margin: 0.5em auto;
    padding: 0.5em;
}

.centrar-texto{
    display: flex;
    justify-content: center;
    align-items: center;
}

/**/

#header{
    height: 20%;
    background-color: dimgray;
    border-radius: 1em;
    margin: 1em;
}

#nav{
    height: 10%;
    background-color:darkslategray;
    border-radius: 1em;
    margin: 1em;
}

#contenido{
    height: 53%;
    background-color: w;
    margin: 1em;
    }

#footer{
    height: 10%;
    background-color: darkslategray;
    border-radius: 1em;
    margin: 1em;   
}

#section{
    height: 95%;
    width: 68%;
    background-color: darkslategray;
    border-radius: 1em;
    float: left;
    margin-left: 0.5em; 
}

#aside{
    height: 95%;
    width: 30%;
    background-color: darkslategray;
    border-radius: 1em;
    float: right;
    margin-right: 0.5em;
    }

.articulo{
        width: 96%;
        height: 20%;
        background-color: beige;
        margin: 1em;
        border-radius: 1em;
}