.wrapper{
    height: 500px;
}

.prueba{
    display: flex !important;
    gap: 12px;
}

.input-box:first-child {
    flex-basis: 180%;
}


.wrapper .icon-close{
    background-color: #4E458C !important;
    color: #fff !important;
}   
.wrapper .icon-close{
    background-color: #4E458C !important;
}   

.input-box .icon{
    color: #4E458C !important;
}

.boton{
    background: #4E458C !important;
    color:#fff ;
}

.input-box input{
    color: #4E458C !important;
}

.input-box label{
    color: #4E458C !important;
}

.input-box{
    border-bottom: 2px solid #4E458C !important;
}

.form-box h2{
    color: #4E458C !important;
}


